API_BASE_URL=http://0.0.0.0:8003/api
WS_BASE_URL=ws://0.0.0.0:8003

# Sentry DSN - получите на https://sentry.io
SENTRY_DSN=https://55e8cf9adda95627f206f89979a8ff19@o4511028941160448.ingest.us.sentry.io/4511028942405632

# Environment (production/development)
ENVIRONMENT=development
